includes:
	- phpstan.dist.neon
	# - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	level: 10
	excludePaths:
		analyse:
			# TODO: Update files below and remove them from this list
			- app/Controllers/categoryController.php
			- app/Controllers/configureController.php
			- app/Controllers/feedController.php
			- app/Controllers/importExportController.php
			- app/Controllers/statsController.php
			- app/Controllers/updateController.php
			- app/install.php
			- app/Models/Category.php
			- app/Models/CategoryDAO.php
			- app/Models/DatabaseDAO.php
			- app/Models/DatabaseDAOSQLite.php
			- app/Models/Entry.php
			- app/Models/EntryDAO.php
			- app/Models/FeedDAO.php
			- app/Models/TagDAO.php
			- app/Models/Themes.php
			- app/Services/ImportService.php
			- app/views/configure/integration.phtml
			- app/views/entry/bookmark.phtml
			- app/views/helpers/feed/update.phtml
			- app/views/helpers/index/normal/entry_share_menu.phtml
			- app/views/helpers/logs_pagination.phtml
			- app/views/index/global.phtml
			- cli/do-install.php
			- lib/lib_rss.php
			- lib/Minz/Configuration.php
			- lib/Minz/FrontController.php
			- lib/Minz/Migrator.php
			- lib/Minz/ModelArray.php
			- lib/Minz/ModelPdo.php
			- lib/Minz/Request.php
