includes:
	- phpstan.dist.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	level: 10
	checkBenevolentUnionTypes: false	# TODO pass
	checkImplicitMixed: false	# TODO pass
	reportAnyTypeWideningInVarTag: true	# TODO pass
	strictRules:
		strictArrayFilter: false	# TODO pass
	excludePaths:
		analyse:
			# TODO: Update files below and remove them from this list
			- app/Models/CategoryDAO.php
			- app/Models/Entry.php
			- app/Models/EntryDAO.php
			- app/Models/FeedDAO.php
			- app/Models/TagDAO.php
			- app/Models/Themes.php
