includes:
	- phpstan.dist.neon
	# - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	level: 10
	excludePaths:
		analyse:
			# TODO: Update files below and remove them from this list
			- app/install.php
			- app/Models/Category.php
			- app/Models/CategoryDAO.php
			- app/Models/DatabaseDAO.php
			- app/Models/DatabaseDAOSQLite.php
			- app/Models/Entry.php
			- app/Models/EntryDAO.php
			- app/Models/FeedDAO.php
			- app/Models/TagDAO.php
			- app/Models/Themes.php
			- app/Services/ImportService.php
			- app/views/configure/integration.phtml
			- app/views/entry/bookmark.phtml
			- app/views/helpers/feed/update.phtml
			- app/views/index/global.phtml
